<htm>
<head>
<title>
    <%=title%>
</title>
</head>
<body>
	<form action="/users/create-session" Method="POST">
     <input type="email" name="email" require />
     <input type="password" name="password" require />
     <input type="submit" />
	</form>
    <p>
        <a href="/users/auth/google">sign in using google </a>
    </p>
</body>
</htm>