<htm>
<head>
<title>
    <%=title%>
</title>
</head>
<body>
	<form action="users/createSession">
     <input type="email" name="username" require />
     <input type="password" name="password" require />
     <input type="submit" />
	</form>
</body>
</htm>