


<html>
<head>
<title>
   	<%=title%>
</title>
</head>
<body>
	<form action="/users/create" Method="POST">
            <input type="text" name="name" placeholder="Full Name"/>
            <input type="email" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="password" name="Confirm_password" placeholder="Confirm Password" />  
            <input type="submit" name="submit" >
	</form>
    <p>
        <a href="/users/auth/google">sign up using google </a>
    </p>
</body>
</html>









