body{
    margin: 0;
    /* text-align: center; */
    #header{
    background-color:#242582;
    color:white;
    a{
    color:red;
    text-decoration:none;
    }
    }
    #footer{
    background-color:#242582;
    }
}